#root{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

#contenedor-libros{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.libro{
    border: solid black;
    padding: 25px;
}